#exampleEmail {
    background-color: black;
    color: white;
}

#exampleSelect {
    background-color: black;
    color: white;
}

#exampleMessage {
    background-color: black;
    color: white;
}

#formGroup {
    background-color: black;
}

#modalSelected {
    background-color: black;
}

.btn.btn-secondary {
margin-bottom: 5px;
}