.pill-container {
    width: 90px;
    height: 90px;
}

.pill {

    position: relative;

    width: 75px;
    height: 75px;
    background-color: black;

    border-radius: 50%;
}

.iss {
    position: relative;
    width: 70%;
    margin-top: 10px;
}

.pill:before {
    content: "";
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    width: 60px;
    height: 60px;
    background-color: brown;
    border-radius: 50%;
}

.pill:after {
    content: "";
    position: absolute;
    left: -2.5px;
    top: -2.5px;
    width: 80px;
    height: 80px;
    border: orange dashed 3px;
    border-radius: 50%;
}

@keyframes pulsation {
    0% {
        transform: scale()
    }

    100% {
        transform: scale(2)
    }
}

.pill:after {
    animation-name: pulsation;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;

}