@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

h1 {
    font-family: 'Orbitron', sans-serif;

}

.mainNavBar {
    background-color: black;
}


.navbar-brand {
    color: white;
}

.navbar-toggler {
    /* background-color:rgb(247, 243, 243); */
    visibility: hidden !important;
    /*Bouton Toggler caché par défaut*/
    display: inline;
}

.footerHeader {
    background-color: rgb(82, 147, 90);
    font-family: 'Orbitron', sans-serif;
}

.shiny {
    transition: 200ms ease-in;
    overflow: hidden;
    position: relative;
}

.shiny:hover {
    transform: scale(1.2);
}

.shiny::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.shiny:hover::after,
.shiny:focus::after {
    animation: sheen 1s forwards;
}

.reflection {

    transition: 200ms ease-in;
    overflow: hidden;
    position: relative;
}

.reflection:hover {
    /* transform: scale(1.2); */
}

.reflection::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-20em, 70em);
}

.reflection:hover::after,
.reflection:focus::after {
    animation: sheen 2.5s forwards;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}


@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}





/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .IsaLogo {
        width: 20%;
    }

    .navbar-toggler {
        visibility: visible !important;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .footerHeader {
        display: none;
    }

    .IsaLogo {
        width: 15%;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .IsaLogo {
        width: 10%;
    }

    h1 {
        margin-left: 200px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .IsaLogo {
        width: 10%;
    }
}








@media (min-width: 413px) {
    .footerHeader {
        display: none;
    }
}