@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

.IsaLogo{
    width: 15vw;
    min-width: 15vw;
}
h1 {
    font-family: 'Orbitron', sans-serif;

}

.mainNavBar {
    background-color: rgba(0,0,0,0.63);

    
}


.navbar-toggler {
    visibility: hidden !important;
    display: inline;
    
} 




@media (max-width: 768px) {

    .navbar-toggler {
            visibility: visible !important;
    }
}

@media (min-width: 768px) {
    h1{
        margin-left: 25%;     
    }
}

@media (min-width: 1224px) {
    h1{
        margin-left: 27%;

    }
}

@media (min-width: 1824px) {
    h1{
        margin-left: 35%;
    }
}



