@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

.IsaLogo{
    width: 10vw;
    max-width: 15vw;
}
.brand.navbar-brand{
    font-size: 4vw;
}
.bg-dark.light.navbar-toggler{
    background-color: transparent!important;
    border-color: #021EAB;
    border-width: 1.5px;
}
.navbar-toggler-icon{
  background-image: url(../Map/BurgerLogo.png) !important;
}
.navbar-toggler.navbar-nav{
    border: none;
}
h1 {
    font-family: 'Orbitron', sans-serif;

}

.mainNavBar {
    background-color: rgba(0,0,0,0.63);
}


.navbar-toggler {
    visibility: hidden !important;
    display: inline;
} 

@media (max-width: 768px) {
    /* #footerinHeader {
        visibility: visible !important;
    } */
    .navbar-toggler {
            visibility: visible !important;
    }
}
/* media h1 */
@media (min-width: 768px) {
    h1{
        margin-left: 25%;     
    }
}

@media (min-width: 1224px) {
    h1{
        margin-left: 27%;

    }
}

@media (min-width: 1824px) {
    h1{
        margin-left: 35%;
    }
}
