#navSelected {
    background-color: rgba(0, 0, 0, 0.63) !important;
    align-items: center;

}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-left-side,
.footer-right-side {
    display: flex;
    align-items: center;
}

.btn-danger {
    margin-right: 5px;
}

@media (max-width:769px) {
    #navSelected {
        visibility: hidden;
    }
}

.btn-outline-secondary {
    margin-right: 10px;
}

.btn.btn-outline-secondary {
    border-color: #021EAB;
    border-width: 3px;
    color: darkred;
    font-family: 'Titillium Web', sans-serif;
    font-size: x-large;

}
.btn.btn-outline-secondary:hover {
    background-color: aliceblue;
    border-color: #021EAB;
    border-width: 7px;
    font-weight: 900;
    color: red;
   
    font-family: 'Titillium Web', sans-serif;
    font-size: xx-large;
}