
.App {
    text-align: center;
    background-image: url("./BackgroundApp.jpg");
    min-width: 435px;
}

.modal-title {
    font-family: 'Titillium Web', sans-serif;
    font-style:bold;
    font-size: x-large;
}

p {
    font-family: 'Titillium Web', sans-serif;
}
h4 {
  font-family: 'Titillium Web', sans-serif;
}
